<nav class="navbar bg-red text-center text-white" style="background-color: rgb(163, 14, 14);">
    <span class="navbar-brand mb-0 h1">Servicios</span>
    <form class="form-inline">
        <button class="btn btn-outline-light my-3 my-sm-0" routerLink="/servlist">Regresar</button>
    </form>
</nav>

<body class="bodys">
    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card text-center">
                    <div class="card-body" style="background-color: #dbdbdb;">
                        <h3 style="font-size:25px;">{{ titulo }}
                            <div *ngIf="loading" class="spinner-border text-danger float-right" role="status">
                                <span class="visually-hidden">Cargando...</span>
                              </div>
                        </h3>
                        <span *ngIf="submitted && createServicio.invalid" class="badge badge-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                        <form class="mt-4" [formGroup]="createServicio" (ngSubmit)="agregarEditarServicio()"> 
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control form-control-lg" formControlName="tiposerv"
                                        placeholder="Descripción">
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control form-control-lg"
                                        formControlName="precioserv" placeholder="Precio de Venta">
                                </div>
                            </div>
                            <br>
                            <div class="mt-4">
                                <button type="text" class="btn btn-outline-danger my-3 my-sm-0" style="margin: 10px"
                                    routerLink="/servlist">Regresar</button>

                                <button type="submit" class="btn btn-outline-danger my-3 my-sm-0"
                                    style="margin: 10px">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="bg-red text-center text-white" style="height: 35px; width: 100%;">
    <div class="text-center p-2" style="background-color: rgb(163, 14, 14); ">
        © 2021
        <a class="text-white" href="https://mdbootstrap.com/" style="margin-top: 5px;">LubricarSG</a>
    </div>
</footer>
